.height{
    height: 70px;
}

.hello {
    display: inline;
}

#user:hover .user-info {
    display: block;
}

.user-info {
    min-width: 50px;
    display: none;
    position: absolute;
    z-index: 99;
    background-color: #f0f0f0;
    border: 1px solid #c0c0c0;
}

#user {
    float: right;
    margin-right: 10px;
}

#img-user {
    width: 60px;
}
